<p id="notice"><%= notice %></p>

<h1>Concerts</h1>

<table>
  <thead>
    <tr>
      <th>Band</th>
      <th>Attendance</th>
      <th>Duration</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.band %></td>
        <td><%= concert.attendance %></td>
        <td><%= concert.duration %></td>
        <td><%= concert.date %></td>
        <td><%= link_to 'Show', [@band, concert] %></td> <!--funcion con 2 patrametros band_concert_path(@band, concert)-->
        <td><%= link_to 'Edit', edit_band_concert_path(@band, oncert) %></td>
        <td><%= link_to 'Destroy', [@band, concert] method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concert', new_band_concert_path %>
