<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @band.members %>
</p>

<p>
  <strong>Debut:</strong>
  <%= @band.debut %>
</p>

<p>
  <strong>Band sort:</strong>
  <%= @band.band_sort %>
</p>

<ul>
  <li>
  <!--where('date Between ? and ?', Date.today.beginning_of_month, Date.today.end_of_month) crearon el scope between_dates-->
    <!--no sirve last por que no esta por id -->
    <p> Currents Month concerts: <%= @band.concerts.between_dates(Date.today.beginning_of_month, Date.today.end_of_month).size %> </p>
    <p> Max number of attendence: <%= @band.concerts.pluck(:attendance).max %> </p>
    <p> Max durantions: <%= @band.concerts.maximum(:duration) %> </p>
    <p> last concert: <%= @band.concerts.maximum(:date).strftime("%Y-%B-%A") %> </p>
  </li>
</ul>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
